<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <colorheader>
            <settings>
                <coloroption>
                    <item1>
                        <color>Silver</color>
                        <color_picker>#C0C0C0</color_picker>
                    </item1>
                </coloroption>
            </settings>
        </colorheader>
    </default>
</config>
